body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Kozuka Gothic Pr6N";
  src: url(./fonts/KozGoPr6N-Regular.otf) format(opentypeformat);
}

@font-face {
  font-family: "Steamwreck";
  src: url(./fonts/PS_Steamwreck/Steamwreck.otf) format(opentypeformat);
}

* {
  font-family: "Kozuka Gothic Pr6N";
}
:global(.itemHead) {
  font-family: "Steamwreck";
  font-size: 45px;
}
